:root {
  --main-color: #858ea1;
  --hover-color: #3c4859;
  --main-bg: #f1f3f4;
  --base-bg: #f8f8f8;
  --bg: #ffffff;
  --popover-bg: var(--bg);
  --warn-color: #e4a441;
  --danger-color: #c03f53;
  --base-text-color: var(--hover-color);

  --modal-bg: #f1f1f1;
}

html.dark {
  --main-color: #7c7d7f;
  --hover-color: #e5e7eb;
  --main-bg: #3c3e41;
  --popover-bg: #0c1015;
  --base-bg: #202122;
  --bg: #121212;
  --base-text-color: var(--hover-color);
  --modal-bg: #191919;
}
